{% extends "index.html" %}

{% block content %}
<div class="container">
    <h1>Add Driver Form</h1>
    <form method="POST" action="{{ url_for('add_driver') }}">
        {% for error in form.age.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
        <div class="mb-3">
            <div class="form-group">
                <label for="driver_name">{{ form.driver_name.label }}</label>
                {{ form.driver_name(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="age">{{ form.age.label }}</label>
                {{ form.age(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="total_pole_position">{{ form.total_pole_position.label }}</label>
                {{ form.total_pole_position(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="total_race_wins">{{ form.total_race_wins.label }}</label>
                {{ form.total_race_wins(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="total_points_scored">{{ form.total_points_scored.label }}</label>
                {{ form.total_points_scored(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="total_constructor_titles">{{ form.total_constructor_titles.label }}</label>
                {{ form.total_constructor_titles(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="finishing_position_in_previous_season">{{ form.finishing_position_in_previous_season.label
                    }}</label>
                {{ form.finishing_position_in_previous_season(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            <label for="driver_belong_to_team" class="form-label">{{ form.driver_belong_to_team.label }}</label>
            {{ form.driver_belong_to_team(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}